node_modules
.env

# Hardhat files
/cache
/artifacts
/deployments/*
!/deployments/arbitrum
!/deployments/berachain_bartio

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
/report

# foundry files
/cache_forge
/out

*lcov.info

# slither
slither.info

*.log
