node_modules
.env

# Hardhat files
/cache
/artifacts
/deployments
!/deployments/arbitrum

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
/report

# foundry files
/cache_forge
/out

*lcov.info

# slither
slither.info
